<form (ngSubmit)="onSubmit()" #editDonationType="ngForm" class="mt-4">
    <!-- Form -->
    <div class="form-group row mb-4">
            <div class="col">
                <label for="libelle">Heure</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" id="libelle" autofocus required
                        name="time"
                        #theTime="ngModel"
                        [(ngModel)]="formData.time"
                    >
                </div>  
                
            </div>
           
        <div *ngIf="theTime.touched && theTime.invalid">
            <small class="text-danger">Entrez l'heure de messe</small>
        </div>
        <div *ngIf="timeExists">
            <small class="text-danger">Cette heure existe déjà!</small>
        </div>
    </div>  

    

    
    
    <!-- <div *ngIf="!theLastName.pristine && theLastName.invalid">
        <small class="text-danger">Entrez votre prénom</small>
    </div> -->
    <div class="d-flex mt-3">

        <button *ngIf="action === 'add'" type="submit" class="btn btn-gray-800"
        [disabled]="!editDonationType.valid "
        >Ajouter</button>

        <button *ngIf="action === 'edit'" type="submit" class="btn btn-gray-800"
        [disabled]="!editDonationType.valid "
        >Modifier</button>
        
        <!-- Spinner -->
        <div class="d-fle   x align-items-center ms-3"  *ngIf="isSubmitting">
            <app-spinner></app-spinner>
        </div>
        <!-- End spinner -->
    </div>
</form>