<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="#"
        theTitle="Tableau de bord"
        theContent="">
    </app-page-title>
    <!-- Content -->
    <div class="row">
      
      <a *ngIf="isAuthorizedForDonation()" (click)="goToReportDonation()" class="col-12 col-sm-4 col-xl-4 mb-4" @zoomEnterAnimation>
        <div class="card border-0 shadow">
          <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
              <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                <div class="icon-shape icon-shape-danger rounded me-4 me-sm-0">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="d-sm-none">
                  <h2 class="h5">Dons</h2>
                  <h3 class="fw-extrabold mb-1">{{this.donationInfo.total_dons}}</h3>
                </div>
              </div>
              <div class="col-12 col-xl-7 px-xl-0">
                <div class="d-none d-sm-block">
                  <h2 class="h6 text-gray-400 mb-0">Dons</h2>
                  <h3 class="fw-extrabold mb-2">{{this.donationInfo.total_dons}}</h3>
                </div>
                <small class="d-flex align-items-center text-gray-500">
                  {{this.donationInfo.dernier_don | date:"dd/MM/yyyy"}}
                </small> 
              </div>
            </div>
          </div>
        </div>
      </a>

      <a *ngIf="isAuthorizedForAdmin()" (click)="goToAdmin()" class="col-12 col-sm-4 col-xl-4 mb-4" @zoomEnterAnimation>
        <div class="card border-0 shadow">
          <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
              <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                  <i class="fa fa-users"></i>
                </div>
                <div class="d-sm-none">
                  <h2 class="h5">Administrateurs</h2>
                  <h3 class="fw-extrabold mb-1">{{adminInfo.count}}</h3>
                </div>
              </div>
              <div class="col-12 col-xl-7 px-xl-0">
                <div class="d-none d-sm-block">
                  <h2 class="h6 text-gray-400 mb-0">Administrateurs</h2>
                  <h3 class="fw-extrabold mb-2">{{adminInfo.count}}</h3>
                </div>
                <small class="d-flex align-items-center text-gray-500">
                  ...<!-- {{this.donationInfo.dernier_don | date:"dd/MM/yyyy"}} -->
                </small> 
              </div>
            </div>
          </div>
        </div>
      </a>
      
      <a *ngIf="isAuthorizedForAdmin()" (click)="goToReportMass()" class="col-12 col-sm-4 col-xl-4 mb-4" @zoomEnterAnimation>
        <div class="card border-0 shadow">
          <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
              <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                  <i class="fa fa-church"></i>
                </div>
                <div class="d-sm-none">
                  <h2 class="h5">Demande de messe</h2>
                  <h3 class="fw-extrabold mb-1">{{accumulation.total_messe}}</h3>
                </div>
              </div>
              <div class="col-12 col-xl-7 px-xl-0">
                <div class="d-none d-sm-block">
                  <h2 class="h6 text-gray-400 mb-0">Demandes de messe</h2>
                  <h3 class="fw-extrabold mb-2">{{accumulation.total_messe}}</h3>
                </div>
                <small class="d-flex align-items-center text-gray-500">
                   <p class="fw-extrabold mb-2">{{accumulation.cumul_prix_messes_nonanonymes}}F</p>
                </small> 
              </div>
            </div>
          </div>
        </div>
      </a>

      <a *ngIf="isAuthorizedForAdmin()" (click)="goToQuest()" class="col-12 col-sm-4 col-xl-4 mb-4" @zoomEnterAnimation>
        <div class="card border-0 shadow">
          <div class="card-body">
            <div class="row d-block d-xl-flex align-items-center">
              <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                  <span class="sidebar-icon">
                    <i class="fa fa-donate"></i>
                   </span> 
                </div>
                <div class="d-sm-none">
                  <h2 class="h5">Quêtes</h2>
                  <h3 class="fw-extrabold mb-1">{{reportQuest.total_quette}}</h3>
                </div>
              </div>
              <div class="col-12 col-xl-7 px-xl-0">
                <div class="d-none d-sm-block">
                  <h2 class="h6 text-gray-400 mb-0">Quêtes</h2>
                  <h3 class="fw-extrabold mb-2">{{reportQuest.total_quette}}</h3>
                </div>
                <small class="d-flex align-items-center text-gray-500">
                   <p class="fw-extrabold mb-2">{{reportQuest.cumul_montant}}F</p>
                </small> 
              </div>
            </div>
          </div>
        </div>
      </a>

    </div>
    
    <!-- End content -->

    <app-footer></app-footer>
</main>