<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Dons"
        theTitle="Liste des dons"
        theContent="Consultez la liste des dons anonyme et des dons non anonyme">
    </app-page-title>
    <!-- Content -->
    <div *ngIf="donations$ | async as donations">
        <div *ngIf="donations.status == 'success'">
            {{donations.status}}
            <div *ngFor="let donation of donations.dons" class="row">
                {{donation.estOrganisation}}
            </div>
        </div>

    </div>
    <app-donation-table ></app-donation-table>
    <!-- End content -->

    <app-footer></app-footer>
</main>