<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image">
            
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                    <h1 class="h3">Code de confirmation</h1>
                    <p class="mb-4">Entrez le code de confirmations que nous vous avons envoyé par sms</p>
                    <form (ngSubmit)="onSubmit()" #forgotPassword="ngForm">
                       
                        <div class="row">
                            <div class="mb-4">
                                <label for="email">Entrez le code</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="smsCode" 
                                    name="smsCode" placeholder="" required autofocus
                                    #theCode="ngModel"
                                    [(ngModel)]="smsCode.verificationCode"
                                    >
                                </div> 
                                <div *ngIf="theCode.touched && theCode.invalid">
                                    <small class="text-danger">Entrez le code de confirmation</small>
                                </div> 
                            </div>
  
                          </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800"
                                [disabled]="theCode.invalid"
                            >Réinitialiser mon mot de passe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>