<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Administrateurs"
        theTitle="Liste des administrateurs"
        theContent="Consultez la liste des Administrateurs">
    </app-page-title>
    <!-- Content -->
    <div class="d-flex align-items-center">
        
</div>
    <div class="card border-0 shadow mb-4">
        
        <div class="card-body">
            
            <app-admin-table
                [admins$]="admins$"
                listType="enabled"
                >
            </app-admin-table>
        </div>

    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>