<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Administrateurs"
        theTitle="Liste des administrateurs"
        theContent="Consultez la liste des Administrateurs">
    </app-page-title>
    <!-- Content -->
    <div class="d-flex align-items-center">
        
</div>
    <div class="card border-0 shadow mb-4">
        
        <div class="card-body">
            <!-- Search form -->
        <form  class="navbar-search form-inline m-2 col-md-6" id="navbar-search-main">
            <div class="input-group input-group-merge search-bar">
                <span class="input-group-text" id="topbar-addon">
                    <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                </span>
                <input 
                    #searchBar [(ngModel)]="searchBarValue" 
                    (keyup)="search(searchBar.value)" 
                    name="searcheBar"
                    type="text" class="form-control" id="topbarInputIconLeft" placeholder="Rechercher" aria-label="Search" aria-describedby="topbar-addon">
            </div>
        </form>
        <!-- / Search form -->
        <div *ngIf="admins$ | async as adminList" class="table-responsive">
            <table  class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                <tr>
                <th class="border-0 rounded-start">N°</th>
                <th class="border-0">Nom</th>
                <th class="border-0">Prénom</th>
                <th  class="border-0">Contact</th>
                <th  class="border-0">Type</th>
            </tr>
        </thead>
        <tbody >

            <!-- Item -->
            <tr *ngFor="let admin of admins.administrateurs; let i = index">
                <td><a  class="text-primary fw-bold">{{i+1}}</a> </td>
            <td >
                {{admin.nomAdmin}}
            </td>
            <td >
                {{admin.prenomAdmin}}
            </td>
            <td >
                {{admin.contactAdmin}}
            </td>
            <td >
                {{admin.id_typeadmin}}
            </td>
            
            </tr>
    <!-- End of Item -->
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>