<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Demande"
        theTitle="Demande de Renseignement"
        theContent="Liste des Demande de Renseignement">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
        <div class="table-responsive">
          <table id="exportTable" class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                  <tr>
                    <th class="border-0 rounded-start">N°</th>
                    <th class="border-0">Nom</th>
                    <th class="border-0">Prenom</th>
                    <th class="border-0">E-mail</th>
                    <th class="border-0">Contact</th>
                    <th class="border-0">Montants</th>
                    <th class="border-0 rounded-end">Details</th>
                  </tr>
            </thead>
            <tbody>
              <tr *ngFor="let param of  Setting.data.data;let i=index" @linePaginateAnimation>
                <td>{{ i+1 }}</td>
                <td>{{ param.nom }}</td>
                <td>{{ param.prenom }}</td>
                <td>{{ param.email }}</td>
                <td>{{ param.contact }}</td>
                <td>{{ param.couts }}</td>
                <td>{{ param.details }}</td>
              </tr>
            </tbody>
          </table>
          <div >
            <div *ngIf=" Setting.data.last_page != 0 && Setting.data.last_page != undefined && Setting.data.last_page != -1" class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
              <p>
                  Affichage de {{Setting.data.current_page}}/{{Setting.data.last_page}} pages
              </p>
              <nav  aria-label="Page navigation example">
                  <ul class="pagination">
                      <li class="page-item {{isFirstPage}}">
                      <a (click)="goToPrevious()" class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                      </li>
                      <li class="page-item"><a class="page-link">{{Setting.data.current_page}}</a></li>
                      <li  class="page-item {{isLastPage}}">
                      <a (click)="goToNext()" class="page-link"  aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                      </li>
                  </ul>
              </nav>
              </div>
          </div>

        </div>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>

