<div class="row mb-4">
    <div class="row mb-4">
        <div class="mb-2 col-8 col-sm-4 btn-group">
            <button class="btn btn-github d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-form-filter">
                <i class="fa fa-table me-3"></i>
                Filtrer
            </button>
        </div>
        <div class="mb-2 col-8 col-sm-4  btn-group">
            <button (click)="resetFilter()" title="Réinitialiser le le filtre"  class="btn btn-github d-inline-flex align-items-center" >
                <i class="fa fa-broom me-3"></i>
                Réinitialiser
            </button>
        </div>
        <div  class="mb-2 col-8 col-sm-4  btn-group">
            <button (click)="export()" title="Réinitialiser le le filtre"  class="btn btn-github d-inline-flex align-items-center" >
                <i class="fa fa-broom me-3"></i>
                Exporter
            </button>
        </div>

        <div class="mb-2 col-8 col-sm-4  btn-group">
          <button  (click)="MasquerList()" title="Réinitialiser le le filtre"  class="btn btn-github d-inline-flex align-items-center" >
              <i class="fa fa-broom me-3"></i>
              Masquer
          </button>
        </div>

        <div  class="col-8 mb-2 col-sm-4 btn-group">
            <button type="button" class="btn btn-primary">Exporter en</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="visually-hidden">Exporter en</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="exportToPDF()">PDF</a></li>
              <li><a class="dropdown-item" (click)="exportToExel()">EXCEL</a></li>
            </ul>
        </div>

        <div  class="mb-2 col-8 col-sm-4  btn-group">
            <button title="Choisissez les colonnes à afficher"  class="btn btn-paypal d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-select-column">
                <i class="fa fa-check me-3"></i>
                Colonnes
            </button>
        </div>

        <!-- Refresh -->
        <div class="col-8 mb-2 col-sm-4  btn-group">
            <app-refresh [isRefreshing]="isRefreshing"
            (toogleButton) = "handleToogleButtonFromChild($event)"
             ></app-refresh>
        </div>
        <!-- End Refresh -->
    </div>
</div>
<div class="table-responsive">
    <table id="exportTable"  class="table table-centered table-nowrap mb-0 rounded">
        <thead class="thead-light">
            <th class="border-0 rounded-start">N°</th>
            <th class="border-0">Date</th>
            <th class="border-0">Jours</th>
            <th class="border-0">Heur</th>
            <th class="border-0">Nombres de Quetes</th>
            <th class="border-0">Montants</th>
        </thead>
        <tbody *ngFor="let quest of questResult; let i=index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{ quest.days}}</td>
                <td>{{ quest.days_name}}</td>
                <td>{{quest.time}}</td>
                <td (click)="selectedQuest(quest)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{quest.total_Quest}}</td>
                <td data-bs-toggle="modal" (click)="setSelectedRequest(quest.messe_id, quest.days, quest.time)" data-bs-target="#staticBackdrop">{{ quest.amount_total}}</td>
            </tr>
           
        </tbody>
    </table>
</div>

<!-- <div *ngIf=" questListParent.last_page != 0 && questListParent.last_page != undefined && questListParent.last_page != -1" class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <p>
        Affichage de {{questListParent.current_page}}/{{questListParent.last_page}} pages
    </p>
    <nav  aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{isFirstPage}}">
            <a (click)="goToPrevious()" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link">{{questListParent.current_page}}</a></li>
            <li  class="page-item {{isLastPage}}">
            <a (click)="goToNext()" class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div> -->


<app-modal-filter
    [searchBarValue]="searchBarValue"
    [dateStartValue]="dateStartValue"
    [dateEndValue]="dateEndValue"
   (dataFilterToParent) = "handleDataFilterFromChild($event)"
></app-modal-filter>

<app-quest-modal-column 
    [listType]="listType"
    (formDonationColumnToParent) = "handleDataColumnFromChild($event)"
>
</app-quest-modal-column>

 <!--modal for detail-->
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detail de Quetes du {{days}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <th>N°</th>
                    <th>Montant</th>
                    <th>Types</th>
                </thead>
               <tbody>
                <ng-container *ngFor="let quests of MyQuest; let plus = index">
                    <tr>
                        <td>{{plus + 1}}</td>
                        <td>{{quests.amountQuest}}</td>
                        <td>{{quests.quest_types}}</td>
                    </tr>
                </ng-container>
               </tbody>
            </table>
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
    </div>
</div>
<!--modal for detail-->