<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="KoFaSante"
        theTitle="Liste des Publications sur KoFaSante"
        theContent="kofa-mobile">
    </app-page-title>
    <!-- Content -->
    <div class="card m-2">
      <div *ngIf="media$ | async as media" class="card-body">

        <app-liste-asctuce-kofasante
          [media]="media"
        >
        </app-liste-asctuce-kofasante>

      </div>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>
