<!-- Modal Content -->
<div class="modal fade" id="modal-form-password" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h4">Modifier votre mot de passe</h1>
                    </div>
                    <form (ngSubmit)="onSubmit()" #editProfile="ngForm" class="mt-4">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="oldPassword">Ancien mot de passe</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                </span>
                                <input type="password" class="form-control" placeholder="" id="oldPassword" autofocus required
                                    [(ngModel)]="groupPasswords.mdpAdmin"
                                    #theOldPassword="ngModel"
                                    pattern="^.{5,}$"
                                    name="oldPassword"
                                >
                            </div>
                            <div *ngIf="theOldPassword.touched && theOldPassword.invalid">
                                <small class="text-danger">Entrez votre nouveau mot de passe</small>
                            </div>  
                            <div class="text-danger"
                                [hidden]="theOldPassword.valid || theOldPassword.pristine">
                                <small>Entrez au moins 5 caractère</small>
                            </div>  
                            <div class="text-danger"
                                [hidden]="pwdExists">
                                <small>Le mot de passe est incorrect</small>
                            </div>  
                        </div>
                        <!-- End of Form -->
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="newPassword">Nouveau mot de passe</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2">
                                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                </span>
                                <input type="password" class="form-control" placeholder="" id="newPassword" autofocus required
                                    pattern="^.{5,}$"
                                    [(ngModel)]="groupPasswords.new_password"
                                    #theNewPassword="ngModel"
                                    name="newPassword"
                                    
                                >
                            </div>  
                            <div *ngIf="theNewPassword.touched && theNewPassword.invalid">
                                <small class="text-danger">Entrez votre nouveau mot de passe</small>
                            </div>  
                            <div class="text-danger"
                                [hidden]="theNewPassword.valid || theNewPassword.pristine">
                                <small>Entrez au moins 5 caractères</small>
                            </div> 
                        </div>
                        <!-- End of Form -->
                        <div class="form-group">
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="confirmPassword">Confirmez le mot de passe</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                    </span>
                                    <input type="password" class="form-control" placeholder="" id="confirmPassword" autofocus required
                                    [(ngModel)]="groupPasswords.confirm_password"
                                    #theConfirmPassword="ngModel"
                                    name="confirmPassword"
                                    (keyup)="onClickConfirmPassword()"
                                >
                                </div>  
                                <div *ngIf="!pwdIsConfirmed">
                                    <small class="text-danger">Les deux mots de passe ne correspondent pas</small>
                                </div>  
                            </div>
                            <!-- End of Form -->
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800"
                            [disabled]="!theOldPassword.valid || !theNewPassword.valid || !theConfirmPassword.valid || !pwdIsConfirmed"
                            >Modifier</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>