<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Quête"
        theTitle="Ajouter un type de quête"
        theContent="Ajouter un type de quête">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
       <app-quest-type-form
       action="add"
       >

       </app-quest-type-form>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>