<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Administrateurs"
        theTitle="Modifier un administrateur"
        theContent="Modifiez les informations d'un administrateur">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
        <form (ngSubmit)="onSubmit()" #editAdminForm="ngForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <div>
                        <label for="firstName">Nom</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" placeholder="Entrez votre nom" 
                        [value]="admin.administrateur.nomAdmin"
                        disabled
                        required>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div>
                        <label for="lastName">Prénom</label>
                        <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Entrez votre prénom" 
                        [value]="admin.administrateur.prenomAdmin"
                        disabled
                        required="">
                    </div>
                </div>
                
                <div class="col-12 mb-3">
                    <div>
                        <label for="contact">Contact</label>
                        <input class="form-control" id="contact" name="contact" type="text" placeholder="Entrez votre numéros mobile" 
                        [value]="admin.administrateur.contactAdmin"
                        [(ngModel)]="typeAdmin.newcontactAdmin"
                        pattern="\+[0-9]*"
                        required=""
                        #theContact="ngModel"
                        (keyup)="onClickContact()"
                        >
                    </div>
                </div>
                <div *ngIf="theContact.touched && theContact.errors?.['required']">
                    <small class="text-danger">Entrez votre contact</small>
                </div>
                <div *ngIf="contactExists">
                    <small class="text-danger">Ce numéro est déjà utilisé!</small>
                </div>
                <div class="text-danger"
                    [hidden]="!theContact.errors?.['pattern'] || theContact.pristine">
                    <small>Entrez un numéros de téléphone valide (+xxxxx)</small> 
                </div> 
               
                <div class="col-12 mb-3">
                    <label for="role">Type</label>
                    <select [(ngModel)]="+typeAdmin.id_typeadmin" class="form-select w-100 mb-0" id="role" name="state" aria-label="State select example">
                        <!-- <option selected="">Sélectionnez le rôle de l'administrateur</option> -->
                        <option *ngFor="let type of listAdminTypes.typeadministrateurs" 
                            value="{{type.id}}"
                            [selected]="isAdminType(type.id)"
                            >{{type.libelleType}}
                        </option>
                        <!-- <option value="1">Curé</option> -->
                        <!-- <option value="2">Sécrétaire</option> -->
                        <!-- <option value="3">Financier</option> -->
                        <!-- <option value="4">Responsable de catéchèse</option> -->
                        <!-- <option value="5">Responsable du conseil paroissiale</option> -->
                    </select>
                </div>
            </div>
    
            <div class="d-flex mt-3">
                <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit"
                [disabled]="editAdminForm.invalid"
                >
                    Modifier
                </button>
                <!-- Spinner -->
                <div *ngIf="isSubmitting" class="ms-3 text-center d-flex align-items-center">
                    <div  class="spinner-border text-info " role="status">
                    <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>