<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">

        <div class="row justify-content-center form-bg-image" style="background-image: url('assets/assets/img/illustrations/signin.svg'); ">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500" style="width: 1000px;">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">Connectez-vous Kofasante Admin</h1>
                    </div>
                    <!-- Spinner -->
                    <div class="d-flex align-items-center justify-content-center" *ngIf="isSubmitting">
                        <app-spinner></app-spinner>
                    </div>
                    <!-- End spinner -->
                    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mt-4">
                        <!-- Form -->
                        <div class="form-group d-flex flex-column justify-content-start align-items-center">
                            <div class="mb-4" style="width: 300px !important">
                                <label for="contact">Numéro mobile</label>
                                <div class="input-group">

                                    <input type="tel"  #theTel class="form-control" placeholder="072233..." id="phone" name="contact" pattern="^[0-9]+$" [(ngModel)]="dataLogin.contact" #theContact="ngModel" onkeypress="return event.charCode >= 48 && event.charCode<= 57" autofocus required>
                                </div>

                                <!-- <button onclick="showConsole()" >click moi</button> -->

                                <div *ngIf="theContact.errors?.['pattern'] && theContact.touched" class="text-danger">
                                    <small>Entrez des chiffres</small>
                                </div>
                                <div *ngIf="theContact.errors?.['required'] && theContact.touched" class="text-danger">
                                    <small>Entrez votre contact</small>
                                </div>
                            </div>

                        </div>
                        <!-- End of Form -->
                        <div class="form-group d-flex flex-column justify-content-start align-items-center">
                            <!-- Form -->
                            <div class="form-group mb-4 w-75  d-flex flex-column justify-content-start align-items-start" style="width: 300px !important">
                                <label for="password">Mot de passe</label>
                                <div class="input-group">
                                    <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="" class="form-control" id="password" name="password" [(ngModel)]="dataLogin.mot_de_passe" #thePassword="ngModel" required>
                                    <span (click)="togglePasswordVisibility()" class="input-group-text" id="basic-addon2">
                                        <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                                    </span>
                                </div>
                                <div *ngIf="thePassword.invalid && thePassword.touched" class="text-danger">
                                    <small>Entrez votre mot de passe</small>
                                </div>
                                <div *ngIf="!isLogged" class="text-danger">
                                    <small>Contact ou mot de passe incorrecte</small>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="d-flex justify-content-between align-items-top mb-4 ">

                                <div><a (click)="goToForgotPassowrd()" class="small text-right">Mot de passe oublié?</a></div>
                            </div>


                        </div>
                        <!-- Captcha -->
                        <div class="align-items-center m-1">
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [theme]="theme" (success)="getResponse($event)" (expire)="handleExpire()">
                            </ngx-recaptcha2>
                        </div>
                        <!-- End Captcha -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800" [disabled]="loginForm.invalid || !tokenCaptcha">Se connecter</button>
                        </div>
                        <!---->
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <input type="tel" id="phone" /> -->
