<div  class="table-responsive">
    <table  class="table table-centered table-nowrap mb-0 rounded">
    <thead class="thead-light">
        <tr>
        <th class="border-0 rounded-start">N°</th>
        <th class="border-0">Nom</th>
        <th class="border-0">Prénom</th>
        <th  class="border-0">Contact</th>
        <th  class="border-0">Type</th>
        <th  class="border-0">Actions</th>
    </tr>
</thead>
<!-- ENABLED ACCOUNT -->
<tbody *ngIf="!isDisabledAccount()" >

    <!-- Item -->
    <tr *ngFor="let admin of admins.administrateurs; let i = index">
        <td><a  class="text-primary fw-bold">{{i+1}}</a> </td>
    <td >
        {{admin.nomAdmin}}
    </td>
    <td >
        {{admin.prenomAdmin}}
    </td>
    <td >
        {{admin.contactAdmin}}
    </td>
    <td >
        {{admin.id_typeadmin}}
    </td>
    <td>
        <a title="Désactivez un administrateur" (click)="deleteAdmin(admin.id)" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
            <i class="fa fa-ban" ></i>
        </a>
        <a title="Modifier le type de l'administrateur" (click)="goToEditAdmin(admin.id)" class="ms-2 btn btn-sm btn-secondary d-inline-flex align-items-center">
            <i class="fa fa-edit" ></i>
        </a>
    </td>
    
    </tr>
<!-- End of Item -->

</tbody>

<!-- DISABLED ACCOUNT -->
<tbody *ngIf="isDisabledAccount()" >

    <!-- Item -->
    <tr *ngFor="let disabled of disabledAccounts.administrateurs; let i = index">
        <td><a  class="text-primary fw-bold">{{i+1}}</a> </td>
    <td >
        {{disabled.nomAdmin}}
    </td>
    <td >
        {{disabled.prenomAdmin}}
    </td>
    <td >
        {{disabled.contactAdmin}}
    </td>
    <td >
        {{disabled.id_typeadmin}}
    </td>
    <td>
        <a title="Réactiver un administrateur" (click)="restoreAdmin(disabled.id)" class="btn btn-sm btn-success d-inline-flex align-items-center">
            <i class="fa fa-arrow-up" ></i>
        </a>
    </td>
    
    </tr>
<!-- End of Item -->

</tbody>
</table>
</div>