<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Dons"
        theTitle="Liste des types des dons désactivés"
        theContent="Consultez la liste des types des dons désactivés">
    </app-page-title>
    <!-- Content -->
    <div class="card border-0 shadow mb-4" >
        
        <div *ngIf="disabledDonationTypes$ | async as disabledDonationTypes" class="card-body" >
            
            <app-donation-type-table 
            [listType]="listType"
            [donationTypeModel]="disabledDonationTypes"
            >
            </app-donation-type-table>
        </div>

    </div>

    <!-- End content -->

    <app-footer></app-footer>
</main>