<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Catéchèse"
        theTitle="Listes des Années Pastorales"
        theContent="Listes des Années Pastorales">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
        <app-table-pastoral-years>
            
        </app-table-pastoral-years>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>