<div class="card border-0 shadow mb-4 ">
    <div class="card-body">
        
        
        <div class="row mb-4">
            <div class="mb-2 col-8 col-sm-4 btn-group">
                <button class="btn btn-github d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-form-filter">
                    <i class="fa fa-table me-3"></i>
                    Filtrer
                </button>
            </div>
            <div class="mb-2 col-8 col-sm-4  btn-group">
                <button (click)="resetFilter()" title="Réinitialiser le le filtre"  class="btn btn-github d-inline-flex align-items-center" >
                    <i class="fa fa-broom me-3"></i>
                    Réinitialiser
                </button>
            </div>
            <div *ngIf="!isExporting" class="mb-2 col-8 col-sm-4 btn-group">
                <button title="Affichez toute la liste pour exporter"  (click)="export()" type="button" class="btn btn-primary">Exporter</button>
            </div>
            <div  *ngIf="isExporting"  class="col-8 mb-2 col-sm-4  btn-group">
                <button title="Masquer le boutton d'exportation" (click)="this.search()" type="button" class="btn btn-primary">Masquer</button>
            </div>
            <div *ngIf="isExporting"  class="col-8 mb-2 col-sm-4 btn-group">
                <button type="button" class="btn btn-primary">Exporter en</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="visually-hidden">Exporter en</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="exportToPDF()">PDF</a></li>
                  <li><a class="dropdown-item" (click)="exportToExel()">EXCEL</a></li>
                  <!-- <li><a class="dropdown-item" (click)="exportToCSV()">CSV</a></li> -->
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                </ul>
              </div>

              <div class="mb-2 col-8 col-sm-4  btn-group">
                <button title="Choisissez les colonnes à afficher"  class="btn btn-paypal d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-select-column">
                    <i class="fa fa-check me-3"></i>
                    Colonnes
                </button>
            </div>

              <!-- Refresh -->
              <div class="col-8 mb-2 col-sm-4  btn-group">
                  <app-refresh [isRefreshing]="isRefreshing"
                  (toogleButton) = "handleToogleButtonFromChild($event)"
                   ></app-refresh>
              </div>
              <!-- End Refresh -->
        </div>

        <!-- / Search form -->
    <div class="table-responsive">
        <table id="exportTable" class="table-fill table table-centered table-nowrap mb-0 rounded">
            <!-- <h1 >COol</h1> -->
        <thead class="thead-light">
            <tr id="tata">
            <th class="border-0 rounded-start {{formDonationColumn.number ? '':'d-none'}}">N°</th>
            <th class="border-0 {{formDonationColumn.montantDon ? '':'d-none'}} ">Montant</th>
            <th class="border-0 {{formDonationColumn.typeDon ? '':'d-none'}}">Type</th>
            <th *ngIf="!isAnonymous && isOrganisation" class="border-0 {{formDonationColumn.organisationDon ? '':'d-none'}}">Organisation</th>
            <th class="border-0 {{formDonationColumn.dateDon ? '':'d-none'}}">Date</th>
            <th *ngIf="!isAnonymous" class="border-0 {{formDonationColumn.nomDon ? '':'d-none'}}">Nom</th>
            <th *ngIf="!isAnonymous" class="border-0 {{formDonationColumn.prenomDon? '':'d-none'}}">Prénom</th>
            <th *ngIf="!isAnonymous" class="border-0 rounded-end {{formDonationColumn.contactDon? '':'d-none'}}">Contact</th>
            <th class="border-0 rounded-end {{formDonationColumn.payeurDon? '':'d-none'}}">Payeur</th>
            <th *ngIf="!isAnonymous" class="border-0 rounded-end {{formDonationColumn.civiliteDon? '':'d-none'}}">Civilité</th>
            <th *ngIf="!isAnonymous" class="border-0 rounded-end {{formDonationColumn.villeDon? '':'d-none'}}">Ville</th>
            <th *ngIf="!isAnonymous" class="border-0 rounded-end {{formDonationColumn.paysDon? '':'d-none'}}">Pays</th>
            <th class="border-0 rounded-end {{formDonationColumn.transactionId ? '':'d-none'}}">Id de transaction</th>
        </tr>
    </thead>
    <tbody *ngIf="donationListParent.status == 'success'">
        <!-- Item -->
            <tr  *ngFor="let donation of donationList; let a = index" @linePaginateAnimation class="{{donation.estAnonyme | donationTypeColor:donation.estOrganisation:listType}}">
                <!-- {{incrementI()}} -->
                <td class="{{formDonationColumn.number ? '':'d-none'}}">
                    <a class="{{donation.estAnonyme | donationTypeColor:donation.estOrganisation:listType}} fw-bold">{{a+1}}</a> 
                </td>
                <td  class="{{formDonationColumn.montantDon ? '':'d-none'}} fw-bold d-flex align-items-center">
                    {{donation.montantDon}}
                </td>
                <td class="{{formDonationColumn.typeDon ? '':'d-none'}}">
                    {{donation.typeDon}}
                </td>
                <td *ngIf="!isAnonymous && isOrganisation" class="{{formDonationColumn.organisationDon ? '':'d-none'}}">
                    {{donation.organisationDon}}
                </td>
                <td class="{{formDonationColumn.dateDon ? '':'d-none'}}">
                    {{donation.created_at | date:"dd/MM/yyyy"}}
                </td>
            <td *ngIf="!isAnonymous" class="{{formDonationColumn.nomDon ? '':'d-none'}}">
                {{donation.nomDon}}
            </td>
            <td *ngIf="!isAnonymous" class="{{formDonationColumn.prenomDon ? '':'d-none'}}" >
                {{donation.prenomDon}}
            </td>
            <td *ngIf="!isAnonymous" class="{{formDonationColumn.contactDon? '':'d-none'}}">
                {{donation.contactDon}}
            </td>
            <td class="{{formDonationColumn.payeurDon ? '':'d-none'}}">
                {{donation.payeurDon}}
            </td>
            <td *ngIf="!isAnonymous" class="{{formDonationColumn.civiliteDon ? '':'d-none'}}">
                {{donation.civiliteDon}}
            </td>
            <td *ngIf="!isAnonymous" class="{{formDonationColumn.villeDon? '':'d-none'}}">
                {{donation.villeDon}}
            </td>
            <td *ngIf="!isAnonymous"ngClass="{{formDonationColumn.paysDon? '':'d-none'}}">
                {{donation.paysDon}}
            </td>
            <td class="{{formDonationColumn.transactionId ? '':'d-none'}}">
                {{donation.transactionId}}
            </td>
            </tr>
<!-- End of Item -->
</tbody>
</table>
</div>
</div>

<div *ngIf=" donationListParent.last_page != 0 && donationListParent.last_page != undefined && donationListParent.last_page != -1" class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <p>
        Affichage de {{donationListParent.current_page}}/{{donationListParent.last_page}} pages
    </p>
    <nav  aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{isFirstPage}}">
            <a (click)="goToPrevious()" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link">{{donationListParent.current_page}}</a></li>
            <li  class="page-item {{isLastPage}}">
            <a (click)="goToNext()" class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div>
    <div *ngIf="(donationListParent.last_page === 0 || donationListParent.last_page === undefined) && !isExporting">
        <h4 class="text-center">Aucune donnée dans la table</h4>
    </div>

    <!-- Spinner -->
   <div class="text-center">
    <div *ngIf="donationListParent.last_page === -1" class=" ms-3 d-flex align-items-center justify-content-center">
        <app-spinner></app-spinner>
    </div>
   </div>
   <!-- End spinner -->

   <app-modal-filter
    [searchBarValue]="searchBarValue"
    [dateStartValue]="dateStartValue"
    [dateEndValue]="dateEndValue"
   (dataFilterToParent) = "handleDataFilterFromChild($event)"
   ></app-modal-filter>

   <app-modal-select-column
   [listType]="listType"
   (formDonationColumnToParent) = "handleDataColumnFromChild($event)"
   ></app-modal-select-column>
      
</div>
