#toto{
    background-color: black;
    color: green ;
}

/* .boom{
    display: none;
} */
    @media print{
        .pagination, button, #conten{
            display: none;
        }
        #toto{
            background-color: black !important;
            color: red;
        }
        /* .table-hover{
            color: orangered;
            background-color: #000 !important;
        } */
    }