<!--modal for detail-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detail de Quetes du {{dateMesse}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <th class="border-0 rounded-start">N°</th>
                    <th class="border-0">Montant</th>
                    <th class="border-0 ">Types</th>
                </thead>
               <tbody>
                <ng-container *ngFor="let quests of receveData; let plus = index">
                    <tr>
                        <td>{{plus + 1}}</td>
                        <td>{{quests.amountQuest}}</td>
                        <td>{{quests.quest_types}}</td>
                    </tr>
                </ng-container>
               </tbody>
            </table>
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
    </div>
</div>
<!--modal for detail-->