<div  class="table-responsive">
    <table  class="table table-centered table-nowrap mb-0 rounded">
    <thead class="thead-light">
        <tr>
        <th class="border-0 rounded-start">N°</th>
        <th class="border-0">Jours</th>
        <th class="border-0">Heures</th>
        <th  class="border-0">Actions</th>
    </tr>
</thead>
<!-- ENABLED ACCOUNT -->
<!-- <tbody *ngIf="!isDisabledAccount()" [@boomTrigger]="admins.administrateurs.length"> -->
<tbody>

    <!-- Item -->
    <tr @lineTableAnimation >
        <td><a  class="text-primary fw-bold">1</a> </td>
    <td >
        <!-- {{admin.nomAdmin}} -->Lundi
    </td>
    <td >
        <!-- {{admin.prenomAdmin}} -->8h:30, 18h:00
    </td>
    
    <td>
        <a title="Modifier"  class="me-2 btn btn-sm btn-success d-inline-flex align-items-center">
            <i class="fa fa-edit" ></i>
        </a>
        
        <a title="Supprimer le jour de messe et ses heures" class="btn btn-sm btn-danger d-inline-flex align-items-center">
            <i class="fa fa-trash" ></i>
        </a>
    </td>
    
    </tr>
<!-- End of Item -->
</tbody>




</table>
<div >
    <!-- <h4 *ngIf="admins.administrateurs.length === 0" class="text-center mt-2">Aucune donnée dans la table</h4> -->
</div>

</div>