<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Dons"
        theTitle="Bilan des dons"
        theContent="Faites le bilan des dons">
    </app-page-title>
    <!-- Content -->
    <!--End Donation statistics -->
    <div class="row">
        <a  (click)="showAnonymousList()" @zoomEnterAnimation class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                      <i class="fa fa-heart"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Anonyme</h2>
                      <h3 class="fw-extrabold mb-1">{{accumulation.total_messe_anonymes}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Anonyme</h2>
                      <h3 class="fw-extrabold mb-2">{{accumulation.total_messe_anonymes}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                      {{"Montant: "+ accumulation.total_messe_anonymes+"F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
        </a>
          <a (click)="showNoAnonumousList()" @zoomEnterAnimation class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Non Anonyme</h2>
                      <h3 class="fw-extrabold mb-1">{{accumulation.total_messe_nonanonymes}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Non Anonyme</h2>
                      <h3 class="fw-extrabold mb-2">{{accumulation.total_messe_nonanonymes}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                        <!-- {{"Montant: "+accumulation.total_messe_nonanonymes+"F"}} -->
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </a>
        
          <a (click)="showAllMass()" @zoomEnterAnimation class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-success rounded me-4 me-sm-0">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Total</h2>
                      <h3 class="fw-extrabold mb-1">{{accumulation.cumul_prix_messes_nonanonymes}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Total</h2>
                      <h3 class="fw-extrabold mb-2">{{accumulation.cumul_prix_messes_nonanonymes}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                        {{"Montant: "+accumulation.cumul_prix_messes_nonanonymes+"F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </a>
    </div>
    <!--End Donation statistics -->

    <!-- Donation table -->

    <div  *ngIf="messe$ | async as messe">
        <app-mass-request-table [listType]="type"
            [messeListParent]="messe"
            (searchBarValueToParent) = "handleSearchBarValueFromChild($event)"
            (dateStartValueToParent) = "handleDateStartValueFromChild($event)"
            (dateEndValueToParent) = "handleDateEndValueFromChild($event)"
        >
        </app-mass-request-table>
    </div>

    <!-- End Donation table -->
    <!--
        div *ngIf="donations$ | async as donations"
         [listType]="type"
            [donationListParent]="donations"
            (searchBarValueToParent) = "handleSearchBarValueFromChild($event)"
            (dateStartValueToParent) = "handleDateStartValueFromChild($event)"
            (dateEndValueToParent) = "handleDateEndValueFromChild($event)"
            >
    -->
    <!-- End content -->
    <app-footer></app-footer>
</main>