<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar >
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <!-- <div class="avatar-lg me-4">
            <img src="assets/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
            alt="Bonnie Green">
        </div> -->
        <div class="d-block">
            <h2 class="h5 mb-3">{{adminFirstName + " " + adminLastName}}</h2>
            <a (click)="logout()" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
              <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
              Se déconnecter
          </a>
      </div>
  </div>
  <div class="collapse-close d-md-none">
      <a href="#sidebarMenu" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
      aria-label="Toggle navigation">
      <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </a>
</div>
</div>
<ul class="nav flex-column pt-3 pt-md-0">
  <li class="nav-item">
    <a (click)="goToDashboard()" class="nav-link d-flex align-items-center">
      <span class="sidebar-icon">
        <img src="assets/images/logo.png" height="60" width="50" alt="Logo">
    </span>
    <span class="mt-1 ms-1 sidebar-text h4">St-Joseph</span>
</a>
</li>
<li class="nav-item ">
    <a (click)="goToDashboard()" class="nav-link">
      <span class="sidebar-icon">
        <i class="fa fa-table"></i>
    </span> 
    <span class="sidebar-text">Dashboard</span>
</a>
</li>

<li class="nav-item">
  <span
    class="nav-link  collapsed  d-flex justify-content-between align-items-center"
    data-bs-toggle="collapse" data-bs-target="#submenu-donation">
    <span>
      <span class="sidebar-icon">
        <i class="fa fa-heart"></i>
       </span> 
      <span class="sidebar-text">Dons</span>
    </span>
    <span>
      <span *ngIf="donationNotif.unseen_donations != 0" class="badge badge-sm bg-secondary ms-1 text-gray-800">
        {{donationNotif.unseen_donations}}
      </span>
  </span>
    <span class="link-arrow">
      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
  </span>
  <div class="multi-level collapse "
    role="list" id="submenu-donation" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item">
        <a (click)="goToDonationAnonymous()" class="nav-link ">
          <span class="sidebar-text">Anonymes</span>
          <span *ngIf="donationNotif.unseen_ano_donations != 0" class="badge badge-sm bg-secondary ms-1 text-gray-800">
            {{donationNotif.unseen_ano_donations}}
          </span>
        </a>
      </li>
      
    </ul>
  </div>
  <div class="multi-level collapse "
    role="list" id="submenu-donation" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item ">
        <a (click)="goToDonationNoAnonymousPerso()" class="nav-link">
          <span class="sidebar-text">Personel</span>
          <span *ngIf="donationNotif.unseen_no_ano_perso_donations != 0" class="badge badge-sm bg-secondary ms-1 text-gray-800">
            {{donationNotif.unseen_no_ano_perso_donations}}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="multi-level collapse "
    role="list" id="submenu-donation" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item ">
        <a (click)="goToDonationNoAnonymousOrga()" class="nav-link">
          <span class="sidebar-text">Organisation</span>
          <span *ngIf="donationNotif.unseen_no_ano_orga_donations != 0" class="badge badge-sm bg-secondary ms-1 text-gray-800">
            {{donationNotif.unseen_no_ano_orga_donations}}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="multi-level collapse "
    role="list" id="submenu-donation" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item ">
        <a (click)="goToReportDonation()" class="nav-link">
          <span class="sidebar-text">Bilan</span>
        </a>
      </li>
    </ul>
  </div>
</li>
<li class="nav-item ">
    <a (click)="goToProfile()" class="nav-link">
      <span class="sidebar-icon">
        <i class="fa fa-user"></i>
    </span>
    <span class="sidebar-text">Profile</span>
</a>
</li>
<li class="nav-item">
  <span
    class="nav-link  collapsed  d-flex justify-content-between align-items-center"
    data-bs-toggle="collapse" data-bs-target="#submenu-admin">
    <span>
      <span class="sidebar-icon">
        <i class="fa fa-users"></i>
       </span> 
      <span class="sidebar-text">Administrateurs</span>
     
    </span>
    <span class="link-arrow">
      <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
  </span>
  <div class="multi-level collapse "
    role="list" id="submenu-admin" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item ">
        <a (click)="goToAdmin()" class="nav-link">
          <span class="sidebar-text">Liste </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="multi-level collapse "
    role="list" id="submenu-admin" aria-expanded="false">
    <ul class="flex-column nav">
      <li class="nav-item ">
        <a (click)="goToAddAdmin()" class="nav-link">
          <span class="sidebar-text">Ajouter</span>
        </a>
      </li>
    </ul>
  </div>
</li>


<li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>


</ul>
</div>
</nav>