<!-- Modal Content -->
<div class="modal fade" id="modal-form-info" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h4">Modifiez vos informations personnelles </h1>
                    </div>
                    <!-- Spinner -->
                    <div *ngIf="isSubmitting" class="d-flex align-items-center justify-content-center">
                        <div  class="spinner-border text-info " role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <form (ngSubmit)="onSubmit()" #editProfile="ngForm" class="mt-4">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">Nom</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class=" fa fa-pen" ></i>
                                </span>
                                <input type="email" class="form-control" placeholder="" id="firstName" autofocus required
                                    [value]="profile.nomAdmin"
                                    [(ngModel)]="profile.nomAdmin"
                                    #theFirstName="ngModel"
                                    name="firstName"
                                >
                            </div>  
                            <div *ngIf="theFirstName.touched && theFirstName.invalid">
                                <small class="text-danger">Entrez votre nom</small>
                            </div>
                        </div>  
                        <div class="form-group mb-4">
                            <label for="email">Prénom</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class=" fa fa-pen" ></i>
                                </span>
                                <input type="text" class="form-control" placeholder="" id="lastName" autofocus required
                                    [value]="profile.prenomAdmin"
                                    [(ngModel)]="profile.prenomAdmin"
                                    #theLastName="ngModel"
                                    name="lastName"
                                >
                               
                            </div>  
                            
                        </div>
                        <div *ngIf="!theLastName.pristine && theLastName.invalid">
                            <small class="text-danger">Entrez votre prénom</small>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800"
                            [disabled]="!theFirstName.valid || !theLastName.valid"
                            >Modifier</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>