<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Messe"
        theTitle="Ajouter des promotions"
        theContent="Ajouter un mois de promotion">
    </app-page-title>

    <div class="card border-0 shadow mb-4">
        <!-- Content -->
        <div  class="table-responsive m-3">
            <table  class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
            <tr>
                <th class="border-0 rounded-start">N°</th>
                <th class="border-0 rounded-start">Type de Messe</th>
                <th class="border-0">Libellé</th>
                <th class="border-0">Montant</th>
                <th class="border-0">Promotion</th>
                <th  class="border-0">Actions</th>
            </tr>

          <tbody >
              <tr>
                  <td>{{result1.id}}</td>
                  <td>Quotidienne</td>
                  <td>{{ result1.libelle}}</td>
                  <td>{{ result1.montant }}F cfa</td>
                  <td>
                      <p *ngIf="result1.active === 1" style="color: rgb(0, 95, 0);">Activer</p>
                      <p *ngIf="result1.active !== 1" style="color: rgb(138, 2, 2);">Désactiver</p>
                  </td>
                  <td>
                      <a title="Modifiez la promotion"  class="ms-2 btn btn-sm btn-success d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#quotidienne">
                          <i class="fa fa-edit" ></i>
                      </a>
                  </td>
              </tr>
              <tr>
                    <td>{{result.id}}</td>
                    <td>Neuvaine</td>
                    <td>{{ result.libelle}}</td>
                    <td>{{ result.montant }}F cfa</td>
                    <td>
                        <p *ngIf="result.active === 1" style="color: rgb(0, 95, 0);">Activer</p>
                        <p *ngIf="result.active !== 1" style="color: rgb(138, 2, 2);">Désactiver</p>
                    </td>
                    <td>
                        <a title="Modifiez la promotion"  class="ms-2 btn btn-sm btn-success d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Neuvaine">
                            <i class="fa fa-edit" ></i>
                        </a>
                    </td>
              </tr>
              <tr>
                  <td>{{trentaine.id}}</td>
                  <td>Trentaine</td>
                  <td>{{trentaine.libelle}}</td>
                  <td>{{trentaine.montant}}F cfa</td>
                  <td>
                    <p *ngIf="trentaine.active === 1" style="color: rgb(0, 95, 0);">Activer</p>
                    <p *ngIf="trentaine.active !== 1" style="color: rgb(138, 2, 2);">Désactiver</p>
                  </td>
                  <td>
                        <a title="Modifiez la promotion"  class="ms-2 btn btn-sm btn-success d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#trentaine">
                            <i class="fa fa-edit" ></i>
                        </a>
                  </td>
              </tr> 
                
          <!-- End of Item -->
          </tbody>
          </table>

      
        </div>
        <!-- Content -->
    </div>

 <!-- Modal -->
 <div class="modal fade" id="quotidienne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title text-red" id="exampleModalLabel">Alert</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>
              Vous essayez d'activer la promotion pour les demandes <br> de messe Quotidienne
          </p>
          <form (ngSubmit)="onSubmit1()" #editDonationType="ngForm">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Libellé</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="libelle"
                  [(ngModel)]="changeDiscountQuoti.libelle"
                  >
              </div>

              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Montant</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="price"
                  [(ngModel)]="changeDiscountQuoti.montant"
                  >
              </div>

              <div class="form-check form-switch mb-2">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   style="height: 2rem;width: 5rem;"
                   name="chooses"
                   [(ngModel)]="changeDiscountQuoti.active"
                   >
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
              
          </form>
      </div>

  </div>
  </div>
</div>
<!-- End content -->

 <!-- Modal -->
 <div class="modal fade" id="Neuvaine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title text-red" id="exampleModalLabel">Alert</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>
              Vous essayez d'activer la promotion pour les demandes <br> de messe Quotidienne
          </p>
          <form (ngSubmit)="onSubmit2()" #editDonationType="ngForm">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Libellé</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="libelle"
                  [(ngModel)]="changeDiscountNeuv.libelle"
                  >
              </div>

              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Montant</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="price"
                  [(ngModel)]="changeDiscountNeuv.montant"
                  >
              </div>

              <div class="form-check form-switch mb-2">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   style="height: 2rem;width: 5rem;"
                   name="chooses"
                   [(ngModel)]="changeDiscountNeuv.active"
                   >
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
              
          </form>
      </div>

  </div>
  </div>
</div>
<!-- End content -->

 <!-- Modal -->
 <div class="modal fade" id="trentaine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title text-red" id="exampleModalLabel">Alert</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>
              Vous essayez d'activer la promotion pour les demandes <br> de messe Quotidienne
          </p>
          <form (ngSubmit)="onSubmit3()" #editDonationType="ngForm">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Libellé</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="libelle"
                  [(ngModel)]="changeDiscountTren.libelle"
                  >
              </div>

              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Montant</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="price"
                  [(ngModel)]="changeDiscountTren.montant"
                  >
              </div>

              <div class="form-check form-switch mb-2">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   style="height: 2rem;width: 5rem;"
                   name="chooses"
                   [(ngModel)]="changeDiscountTren.active"
                   >
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
              
          </form>
      </div>

  </div>
  </div>
</div>
<!-- End content -->

    <app-footer></app-footer>
</main>