<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Messe"
        theTitle="Ajouter des promotions"
        theContent="Ajouter un mois de promotion">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
        <form  class="mt-4">
            <!-- Form -->
           
            <div class="col-12">
                <span for="libelle">Date de promotion:</span>
                <h2></h2>
            </div>
            <div  class="form-group row mb-4">
                    <div class="col-sm-6">
                        <label for="libelle">Date de début</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="startDate" required
                                name="startDate"
                            >
                        </div>  
                        
                    </div>
                    <div class="col-sm-6">
                        <label for="libelle">Date de fin</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="endDdate" required
                                name="endDate"
                                
                            >
                        </div>  
                    </div>
                
            </div>  

            <div class="col-12 mb-4">
                <div class="row">
                  <div class="col-sm-6 mb-1 mb-sm-0">
                    <label for="role">Listes des libellés</label>
                    <select class="form-select w-100 mb-0" id="role" name="state" aria-label="State select example"
                           >
                      <option value="" disabled>Selectionnez un libellé</option>
                      <option value=""></option>
                      <option value="action de grace">Action de grace</option>
                      <option value="defunt">Défunts</option>
                      <option value="autres">Autres</option>
                      <!-- Ajoutez d'autres options ici si nécessaire -->
                    </select>
                    <!-- <div >
                        <small class="text-danger">Aucune heure n'a été sélectionnée</small>
                    </div>
                    <div>
                        <small class="text-danger">Cette heure a déjà été selectionnée</small>
                    </div> -->
                  </div>
                  <!-- DISPLAY TIMES LIST -->
                  <div class="col-sm-6 mb-1 mb-sm-0">
                    <label for="role">Listes des libellés</label>
                    <div class="mb-2">
                        <span></span>
                        <button  type="button" class="btn btn-paypal ms-2">Modifier</button>
                    </div>
                    <!-- Buttons -->
                    <div class="col-sm-6 mt-2">
                        <div class="row g-2">
                            <div class="col-3 d-flex align-items-end me-3">
                                <button type="button" class="btn btn-paypal" title="Ajouter une heure"
                                ><i class="fa fa-plus"></i>
                            </button>
                            </div>
                            <div class="col-3 d-flex align-items-end">
                                <button type="button" class="btn btn-danger" title="Supprimer une heure"
                                ><i class="fa fa-minus"></i></button>
                            </div>
                            
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- QUESTE TYPE -->
              <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-sm-6 mb-1 mb-sm-0">
   
                            <label for="libelle">Montants de la promotion</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="price" required
                                placeholder="example 1000f"
                                    name="price"   
                                >
                            </div>  
                        <!-- <div >
                            <small class="text-danger">Aucun type de quête n'a été sélectionné</small>
                        </div>
                        <div >
                            <small class="text-danger">Ce type de quête a déjà été sélectionné</small>
                        </div> -->
                      </div>

                      <!-- DISPLAY QUEST TYPE -->
                      <div class="col-sm-6 mb-1 mb-sm-0">
                        <label for="role">Montants</label>
                        <div  class="mb-2">
                            <span></span>
                            <button type="button" class="btn btn-paypal ms-2">Modifier</button>
                        </div>
                        <!-- Buttons -->
                        <div class="col-sm-6 mt-2">
                            <div class="row g-2">
                                <div class="col-3 d-flex align-items-end me-3">
                                    <button type="button" class="btn btn-paypal" title="Ajouter une heure"
                                    ><i class="fa fa-plus"></i>
                                </button>
                                </div>
                                <div class="col-3 d-flex align-items-end">
                                    <button type="button" class="btn btn-danger" title="Supprimer une heure"
                                    ><i class="fa fa-minus"></i></button>
                                </div>
                                
                            </div>
                        </div>
                      </div>
                </div>
              </div>
              

                
                  <!-- DAYS -->
                  <div  class="col-12 mb-4">
                    <div class="row mt-2">
                        <label class="col-12">Jours concernés</label>
                      <div class="col form-check">
                        <input value="lundi" class="form-check-input" type="checkbox" id="monday" name="monday"
                        >
                        <label class="form-check-label" for="monday">
                          Lundi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="mardi" class="form-check-input" type="checkbox" id="tuesday" name="tuesday"
                        
                        >
                        <label class="form-check-label" for="tuesday">
                          Mardi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="mercredi" class="form-check-input" type="checkbox" id="wednesday" name="wednesday"
                      
                        >
                        <label class="form-check-label" for="wednesday">
                          Mercredi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="jeudi" class="form-check-input" type="checkbox" id="thursday" name="thursday"
                       
                        >
                        <label class="form-check-label" for="thursday">
                          Jeudi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="vendredi" class="form-check-input" type="checkbox" id="friday" name="friday"
                       
                        >
                        <label class="form-check-label" for="friday">
                          Vendredi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="samedi" class="form-check-input" type="checkbox" id="saturday" name="saturday"
                      
                        >
                        <label class="form-check-label" for="saturday">
                          Samedi
                        </label>
                    </div>
                      <div class="col form-check">
                        <input value="dimanche" class="form-check-input" type="checkbox" id="sunday" name="sunday"
                        
                        >
                        <label class="form-check-label" for="sunday">
                          Dimanche
                        </label>
                    </div>
                  </div>
                  </div>
              
            
            <div class="d-flex mt-3">
                <button type="submit" class="btn btn-gray-800"
                >Ajouter</button>
                <!-- Spinner -->
                <!-- <div class="d-flex align-items-center ms-3">
                    <app-spinner></app-spinner>
                </div> -->
                <!-- End spinner -->
            </div>
        </form>
    </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>