<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Facturation"
        theTitle=" liste des factures réglées"
        theContent="Affiche la liste des factures réglées">
    </app-page-title>
    <!-- Content -->
    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4"></h2>
        <div class="table-responsive">
          <table id="exportTable" class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                  <tr>
                    <th class="border-0 rounded-start">N°</th>
                    <th class="border-0" >Nom </th>
                    <th class="border-0">Prenom </th>
                    <th class="border-0">Contact</th>
                    <th class="border-0" >E-mail </th>
                    <th class="border-0" >Status </th>
                    <th class="border-0" >Montants </th>
                    <th class="border-0 rounded-end">Type </th>
                  </tr>
            </thead>
            <tbody>
              <tr *ngFor="let param of  Setting; let i=index"  @linePaginateAnimation >
                <td>{{ i+1 }}</td>
                <td>{{ param.nom }}</td>
                <td>{{ param.prenom }}</td>
                <td>{{ param.contact }}</td>
                <td>{{ param.email }}</td>
                <td *ngIf="param.status == true" class="green">payé</td>
                <td *ngIf="param.status != true" class="red">non payé</td>
                <td>{{ param.montants }}</td>
                <td>{{ param.type }}</td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>
    <!-- End content -->

    <app-footer></app-footer>
</main>

