<div class="card border-0 shadow mb-4 ">
    <div class="card-body">


        <div class="row mb-4">

            <div class="mb-2 col-8 col-sm-4  btn-group">
                <button (click)="resetFilter()" title="Réinitialiser le le filtre"  class="btn btn-github d-inline-flex align-items-center" >
                    <i class="fa fa-broom me-3"></i>
                    Réinitialiser
                </button>
            </div>

        </div>

        <!-- / Search form -->
    <div class="table-responsive">
        <table id="exportTable" class="table-fill table table-centered table-nowrap mb-0 rounded">
            <!-- <h1 >COol</h1> -->
        <thead class="thead-light">
            <tr id="tata">
            <th class="border-0 rounded-start">N°</th>
            <th class="border-0" >Nom </th>
            <th class="border-0">Prenom </th>
            <th class="border-0">Contact</th>
            <th class="border-0" >E-mail </th>
            <th>Sexe</th>
            <th>Âge</th>
            <th class="border-0">Actions</th>
        </tr>
        </thead>
        <tbody >
            <tr *ngFor="let user of donationListParent.type; let i= index" (click)="checkElements(user)" @linePaginateAnimation>
              <td>{{ i+1 }}</td>
              <td>{{ user.nom }}</td>
              <td>{{ user.prenom }}</td>
              <td>{{ user.contact }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.sexe }}</td>
              <td>{{ user.age }}</td>
              <td>

                <a title="Supprimer le rapport" (click)="DeleteMedia(user.id)" class="me-2 btn btn-sm btn-secondary d-inline-flex align-items-center">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>

                <!-- <a title="Rappel"  class="me-2 btn btn-sm btn-success d-inline-flex align-items-center"
                  data-bs-toggle="modal" data-bs-target="#pastoral">
                  <i class="fa fa-edit"></i>
                 </a> -->

               <a title="Ajouter un rapport"  class="me-2 btn btn-sm btn-primary d-inline-flex align-items-center"
                data-bs-toggle="modal" data-bs-target="#rapport">
                <i class="fa fa-edit"></i>
               </a>

              </td>
            </tr>
        </tbody>
      </table>


       <!-- Modal -->
  <div class="modal fade" id="rapport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black" id="exampleModalLabel">Facture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h3 class="text-center">Rapport Medical</h3>
                  <div *ngIf="showSuccessMessage" class="alert alert-success">Rapport Enregistrer avec succès</div>
                  <form (ngSubmit)="onSubmit2()" #editDonationType="ngForm">

                    <div class="m-2 d-flex align-items-center justify-content-between">
                      <label for="exampleInputEmail1" class="form-label">Nom : {{ dataElement.nom }}</label>
                      <label for="exampleInputEmail1" class="form-label">Prenom : {{ dataElement.prenom }}</label>
                    </div>

                    <div class="m-2 d-flex align-items-center justify-content-between">
                      <label for="exampleInputEmail1" class="form-label">Contact: {{ dataElement.contact }}</label>
                      <label for="exampleInputEmail1" class="form-label">E-mail : {{ dataElement.email }}</label>
                    </div>

                    <div class="m-2">
                      <label for="exampleInputEmail1" class="form-label">Qui Saisir le rapport :</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        required
                        name="nomAdmin"
                        [(ngModel)]="Rapport.nomAdmin"
                      />
                    </div>

                    <div class="m-2">
                        <label for="exampleInputEmail1" class="form-label">Titre :</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                          required
                          name="titre"
                          [(ngModel)]="Rapport.titre"
                        />
                    </div>

                    <label for="exampleInputEmail1" class="form-label">Contenue du Rapport :</label>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="desc" [(ngModel)]="Rapport.desc"></textarea>
                      <label for="floatingTextarea2">Rapport...</label>
                    </div>

                    <div class="modal-footer">
                      <!-- Spinner -->
                      <div *ngIf="good" class="text-center">
                        <div class=" ms-3 d-flex align-items-center justify-content-center">
                            <app-spinner></app-spinner>
                        </div>
                      </div>
                      <!-- End spinner -->

                      <button type="submit" class="btn btn-primary" >Envoyer le Rapport</button>
                    </div>
                  </form>
                </div>
          </div>
    </div>
  </div>
<!-- Modal -->

           <!-- Modal -->
           <div class="modal fade" id="pastoral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-black" id="exampleModalLabel">Facture</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h3 class="text-center">Enregistrer un rappel pour {{ dataElement.nom }}</h3>
                          <form (ngSubmit)="onSubmit()" #editDonationType="ngForm">

                            <div class="m-2 d-flex align-items-center justify-content-between">
                              <label for="exampleInputEmail1" class="form-label">Nom : {{ dataElement.nom }}</label>
                              <label for="exampleInputEmail1" class="form-label">Prenom : {{ dataElement.prenom }}</label>
                            </div>

                            <div class="m-2 d-flex align-items-center justify-content-between">
                              <label for="exampleInputEmail1" class="form-label">Contact: {{ dataElement.contact }}</label>
                              <label for="exampleInputEmail1" class="form-label">E-mail : {{ dataElement.email }}</label>
                            </div>

                            <div class="m-2">
                                <label for="exampleInputEmail1" class="form-label">Titre du rappel</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  required
                                  name="titre"
                                [(ngModel)]="Rappel.titre"
                                />
                            </div>

                            <div class="m-2">
                              <label for="exampleInputEmail1" class="form-label">Heure du rappel</label>
                              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                required
                                name="date"
                                [(ngModel)]="Rappel.heure"
                              />
                           </div>

                           <div class="m-2">
                            <label for="exampleInputEmail1" class="form-label">Minutes</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                              required
                              name="heur"
                                [(ngModel)]="Rappel.minutes"
                            />
                          </div>

                           <div class="m-2">
                            <label for="exampleInputEmail1" class="form-label">Jour</label>
                            <select class="form-select" aria-label="Default select example" name="jour"
                            [(ngModel)]="Rappel.jour">
                              <option selected>...</option>
                              <option value="0">Par defaut</option>
                              <option value="1">Une heure Avant</option>
                              <option value="2">Deux heures Avant</option>
                            </select>
                          </div>

                            <div class="modal-footer">
                              <!-- Spinner -->
                              <div *ngIf="good" class="text-center">
                                <div class=" ms-3 d-flex align-items-center justify-content-center">
                                    <app-spinner></app-spinner>
                                </div>
                              </div>
                              <!-- End spinner -->
                              <div *ngIf="message">{{ message }}</div>
                              <button type="submit" class="btn btn-primary" >Enregistrer rappel</button>
                            </div>
                          </form>
                        </div>
                  </div>
            </div>
          </div>
        <!-- Modal -->
    </div>

</div>


</div>
