  <div  class="table-responsive m-3">
            <table  class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
            <tr>
                <th class="border-0 rounded-start">N°</th>
                <th class="border-0 rounded-start">Type de Messe</th>
                <th class="border-0">Libellé</th>
                <th class="border-0">Montant</th>
                <th class="border-0">Promotion</th>
                <th  class="border-0">Actions</th>
            </tr>

        <!-- ENABLED ACCOUNT       -->
        <!-- <tbody *ngIf="!isDisabledAccount()" [@boomTrigger]="admins.administrateurs.length"> -->
        <tbody >
            <tr>
                <td>{{result.id}}</td>
                <td>Quotidienne</td>
                <td>{{ result.libelle}}</td>
                <td>{{ result.montant }}F cfa</td>
                <td>
                    <p *ngIf="result.active === 1" style="color: rgb(0, 95, 0);">Activer</p>
                    <p *ngIf="result.active !== 1" style="color: rgb(138, 2, 2);">Désactiver</p>
                </td>
                <td>
                    <a title="Désactivez la promotion"  class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <i class="fa fa-ban" ></i>
                    </a>
                    <a title="Modifiez la promotion"  class="ms-2 btn btn-sm btn-success d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-edit" ></i>
                    </a>
                </td>
            </tr>
            <!-- <tr>
                <td>{{resulttren.id}}</td>
                <td>Neuvaine</td>
                <td>{{resulttren.libelle}}</td>
                <td>{{resulttren.montant}}</td>
                <td>
                    <a title="Désactivez la promotion"  class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                        <i class="fa fa-ban" ></i>
                    </a>
                    <a title="Modifiez la promotion"  class="ms-2 btn btn-sm btn-success d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-edit" ></i>
                    </a>
                </td>
            </tr> -->
            
        <!-- End of Item -->
        </tbody>
        </table>
        <!-- <div *ngIf="!isDisabledAccount()">
            <h4 *ngIf="admins.administrateurs.length === 0" class="text-center mt-2">Aucune donnée dans la table</h4>
        </div> -->

        <!-- <div *ngIf="donationTypeModel.types_dons.length === 0">
            <h4 class="text-center">Aucune donnée dans la table</h4>
        </div> -->
        
        </div>
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-red" id="exampleModalLabel">Alert</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Vous essayez d'activer la promotion pour les demandes <br> de messe Quotidienne
                </p>
                <form (ngSubmit)="onSubmit()" #editDonationType="ngForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="libelle"
                        [(ngModel)]="changeDiscount.libelle"
                        >
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Montant</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="price"
                        [(ngModel)]="changeDiscount.montant"
                        >
                    </div>

                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                         style="height: 2rem;width: 5rem;"
                         name="chooses"
                         [(ngModel)]="changeDiscount.active"
                         >
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                    <!-- modal for alert admin-->
                </form>
            </div>

        </div>
        </div>
    </div>