<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Media"
        theTitle="liste des demandes d'analyse"
        theContent="affiche la liste des demandes d'analyse">
    </app-page-title>
    <!-- Content -->

    <!-- Donation table -->
    <div *ngIf=" donations$ |async as donations">
        <app-liste-demandes
          [Analysis]="donations"
        >
        </app-liste-demandes>
    </div>
    <!-- End Donation table -->

    <!-- End content -->
    <app-footer></app-footer>
</main>
