<app-toggle-header></app-toggle-header>
<app-sidebar></app-sidebar>
<main class="content">
    <app-header></app-header>
    <app-page-title
        theModule="Dons"
        theTitle="Bilan des dons"
        theContent="Faites le bilan des dons">
    </app-page-title>
    <!-- Content -->
    <div class="row">
        <div class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-danger rounded me-4 me-sm-0">
                      <i class="fa fa-heart"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Anonyme</h2>
                      <h3 class="fw-extrabold mb-1">{{56}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Anonyme</h2>
                      <h3 class="fw-extrabold mb-2">{{44}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                      {{"Montant: 12000F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Personel</h2>
                      <h3 class="fw-extrabold mb-1">{{5}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Personel</h2>
                      <h3 class="fw-extrabold mb-2">{{5}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                        {{"Montant: 12000F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Organisation</h2>
                      <h3 class="fw-extrabold mb-1">{{5}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Organisation</h2>
                      <h3 class="fw-extrabold mb-2">{{5}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                        {{"Montant: 12000F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-xl-4 mb-4">
            <div class="card border-0 shadow">
              <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                  <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="d-sm-none">
                      <h2 class="h5">Total</h2>
                      <h3 class="fw-extrabold mb-1">{{5}}</h3>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 px-xl-0">
                    <div class="d-none d-sm-block">
                      <h2 class="h6 text-gray-400 mb-0">Total</h2>
                      <h3 class="fw-extrabold mb-2">{{5}}</h3>
                    </div>
                    <small class="d-flex align-items-center text-gray-500">
                        {{"Montant: 99258777000F"}}
                    </small> 
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- End content -->
    <app-footer></app-footer>
</main>